<div class="row">
  <%= link_to new_user_session_path do %>
    <div class="primary-button back-button">
      Back
    </div>
  <% end %>
</div>

<div class="row justify-content-center">
  <%= image_tag(asset_path("link-rides-hero"), class: "app-header-image") %>
</div>

<div class="row text-center">
  <h1>Resend Confirmation Instructions</h1>
</div>

<p class="text-center">Enter your email and we&rsquo;ll resend your confirmation instructions:</p>

<div class="row sign-up-form">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "sign-up-field" %>


    <%= f.submit "Resend Confirmation Instructions", class: "primary-button px-0" %>
  <% end %>
</div>
