<%= link_to "< Home", app_dashboard_path %>
<h1 class="text-center">Admin Dashboard</h1>

<div class="admin-section text-center">
  <span><em>Pending rides</em></span><br>
  <span class="admin-number"><%= pending_rides_count %></span>
</div>
<div class="admin-section text-center">
  <span><em>Unverified drivers</em></span><br>
  <span class="admin-number"><%= link_to "#{valid_unverified_drivers_count}", app_unverified_drivers_path %></span>
</div>
<div class="admin-section text-center">
  <span><em>International users</em></span><br>
  <span class="admin-number"><%= international_users_count %></span>
</div>
<div class="admin-section text-center">
  <span><em>New international users last 7 days</em></span><br>
  <span class="admin-number"><%= new_international_users_count %></span>
</div>
<div class="admin-section text-center">
  <span><em>Completed rides last 7 days</em></span><br>
  <span class="admin-number"><%= completed_rides_this_week_count %></span>
</div>
<div class="admin-section text-center">
  <span><em>Completed rides to date</em></span><br>
  <span class="admin-number"><%= completed_rides_count %></span>
</div>