<div class="row justify-content-center">
  <%= image_tag(asset_path("link-rides-about.svg"), class: "app-header-image") %>
</div>
<div class="row text-center">
  <h1>Sign Up For LINK Rides</h1>
</div>
<div class="row justify-content-center">
  <%= image_tag(asset_path("sign-up-progress-02.svg"), class: "signup-progress") %>
</div>
<p class="text-center">Next, are you an international student?</p>

<%= form_for(@user, url: wizard_path) do |f| %>
  <div class="sign-up-form">
    <%= render "devise/shared/error_messages", resource: @user %>
    <%= f.hidden_field :user, { :value => @current_user } %>

    <div class="row info-box type-select text-center">
      <%= f.radio_button :international, true, class: "type-radio" %>
      <%= f.label :international, value: true do %>
        <span class="h2">Yes</span><br>
        <span>I am an international student</span>
      <% end %>
    </div>

    <div class="row info-box type-select text-center">
      <%= f.radio_button :international, false, class: "type-radio" %>
      <%= f.label :international, value: false do %>
        <span class="h2">No</span><br>
        <span>I am a driver</span>
      <% end %>
    </div>

    <div class="actions d-flex justify-content-center">
      <%= f.submit "Next", class: "primary-button" %>
    </div>
  </div>
<% end %>