<%= form_for @user do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="row text-center profile-image-container">
    <%= f.label :profile_picture do %>
      <%= javascript_pack_tag "profileUploader", 'data-turbolinks-track': 'reload', defer: true %>
      <%= image_tag(@user.display_profile_picture, size: "100", class: "round profile-upload", id: "profile-image") %>
      <div class="profile-uploader-button user-profile-button">
        <%= icon("fa-solid", "pencil") %>
      </div>
    <% end %>
    <br>
    <%= f.file_field :profile_picture, class: "sign-up-field"%>
  </div>

  <div class="row text-center">
    <h1><%= @user.full_name %></h1>
  </div>

  <div class="row mx-3">
    <h2>Contact</h2>
  </div>

  <div class="row info-box mx-3 justify-content-center user-box">
    <div class="col-sm-8">
      <%= f.label :email, class: "sign-up-label" %>
      <%= f.email_field :email, autocomplete: "email", class: "sign-up-field" %>

      <%= f.label :phone_number, class: "sign-up-label" %>
      <%= f.phone_field :phone_number, class: "sign-up-field" %>

      <%= f.label :alternate_contact_method, class: "sign-up-label" %>
      <%= f.select :alternate_contact_method, options_for_select(contact_methods(@user)), class: "sign-up-field" %>

      <%= f.label :alternate_contact_name, class: "sign-up-label" %>
      <%= f.text_field :alternate_contact_name, class: "sign-up-field" %>
    </div>
  </div>

  <div class="row mx-3 mt-5">
    <h2>About</h2>
  </div>
  <div class="row info-box mx-3 justify-content-center user-box">
    <div class="col-sm-8">
      <p><strong>Home Country:</strong> <%= @user.nationality.titleize || "None Set" %></p>
      <p><strong>Total Rides:</strong> <%= @user.rides.count %></p>
      <p>Joined LINK Rides on <%= @user.create_date %></p>

      <% if @user.driver? %>
        <%= f.label :ministry, class: "sign-up-label" %>
        <%= f.text_field :ministry, class: "sign-up-field" %>
      <% else %>
        <%= f.label :email_interest, "I would like to receive information about events for international students", class: "light-label" %>
        <%= f.check_box :email_interest %>
      <% end %>

      <% if current_user.admin? %>
        <%= f.label :gender, class: "sign-up-label" %>
        <%= f.select :gender, options_for_select([["#{@user.gender.capitalize}", "#{@user.gender}"], ["#{opposite_gender(@user).capitalize}", "#{opposite_gender(@user)}"]]), class: "sign-up-field" %><br>

        <%= f.label :driver_verified, "Driver verified?", class: "light-label" %>
        <%= f.check_box :driver_verified, class: "inline" %><br>

        <%= f.label :admin, "Administrator?", class: "light-label" %>
        <%= f.check_box :admin, class: "inline" %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center mx-3">
    <%= f.submit "Save", class: "primary-button app-button" %>
  </div>
<% end %>