<div class="row">
  <div class="col">
    <%= link_to "Back", user_back_button_path, class: "primary-button back-button" %>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <%= image_tag @user.display_profile_picture, size: "100", class: "round" %>
  </div>
</div>

<div class="row text-center">
  <h1><%= @user.full_name %></h1>
</div>

<div class="row mx-3">
  <h2>Contact</h2>
</div>

<div class="row info-box mx-3 justify-content-center user-box">
  <div class="col-sm-8">
    <p><%= icon("fa-solid", "envelope") %> <%= @user.email %></p>
    <p><%= icon("fa-solid", "phone") %> <%= @user.phone_number %></p>
    <% if @user.alternate_contact_method && @user.alternate_contact_method != "nil" && @user.alternate_contact_name %>
      <p><%= icon("fa-brands", alt_contact_icon(@user)) %> <%= @user.alternate_contact_name %></p>
    <% end %>
  </div>
</div>

<div class="row mx-3 mt-5">
  <h2>About</h2>
</div>
<div class="row info-box mx-3 justify-content-center user-box">
  <div class="col-sm-8">
    <p><strong>Home Country:</strong> <%= @user.nationality? ? @user.nationality.titleize : "None Set" %></p>
    <p><strong>Total Rides:</strong> <%= @user.rides.count %></p>
    <% if @user.ministry %>
      <p><strong>Ministry:</strong> <%= @user.ministry %></p>
    <% end %>
    <p>Joined LINK Rides on <%= @user.create_date %></p>

    <% if current_user.admin? %>
      <% if @user.admin? %>
        <p>This user is an admin of LINK Rides.</p>
      <% end %>
      <% if @user.driver_verified? %>
        <p>This user is a verified driver.</p>
      <% end %>
    <% end %>
  </div>
</div>

<% if @user.driver? %>
  <%= render "vehicles/vehicles", user: @user %>
<% end %>

<% if @user == current_user || current_user.admin? %>
  <div class="row justify-content-center mt-3">
    <%= link_to "Edit Profile", edit_user_path(@user), method: :get, class: "primary-button app-button" %>
    <% if @user.driver? %>
      <%= link_to "Add A Vehicle", new_user_vehicle_path(@user), method: :get, class: "secondary-button app-button mt-3" %>
    <% end %>
  </div>
<% end %>