<%= link_to "< Home", app_dashboard_path %>
<h1><%= @user.full_name %></h1>
<div class="text-center">
  <%= image_tag @user.display_profile_picture, size: "100", class: "round" %>
</div>
<h2><%= @user.nationality %></h2>
<p><em><%= @user.email %></em></p>
<p>Phone: <%= @user.phone_number %></p>
<% if @user.alternate_contact_method && @user.alternate_contact_name %>
  <p><%= "#{@user.alternate_contact_method}: #{@user.alternate_contact_name}" %></p>
<% end %>
<% if @user.ministry %>
  <p><%= @user.ministry %></p>
<% end %>

<% if @user.driver? %>
  <%= render "vehicles/vehicles", user: @user %>
<% end %>

<% if @user == current_user || current_user.admin? %>
  <%= button_to "Edit Profile", edit_app_user_path(@user), method: :get, class: "blue" %>
<% end %>
<% if @user == current_user && current_user.vehicles.any? %>
  <%= button_to "Add a vehicle", new_app_user_vehicle_path(@user), method: :get, class: "blue vehicle-button" %>
<% end %>