<div class="row justify-content-center">
  <%= image_tag(asset_path("link-rides-hero.svg"), class: "app-header-image") %>
</div>

<div class="row text-center">
  <h2>Change your password</h2>
</div>

<div class="row sign-up-form">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <%= f.label :password, "New password" %>
    <% if @minimum_password_length %>
      <em><span class="small-text">(<%= @minimum_password_length %> characters minimum)</span></em>
      <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "sign-up-field" %>

    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "sign-up-field" %>


    <%= f.submit "Change my password", class: "primary-button" %>
  <% end %>
</div>
