<div class="row">
  <%= link_to new_user_session_path do %>
    <div class="primary-button back-button">
      Back
    </div>
  <% end %>
</div>

<div class="row justify-content-center">
  <%= image_tag(asset_path("link-rides-driving.svg"), class: "app-header-image") %>
</div>

<div class="row text-center">
  <h1>Forgot your password?</h1>
</div>

<div class="row text-center">
  <p>Enter your email address and we'll send you password reset instructions</p>
</div>

<div class="row sign-up-form">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: "sign-up-field" %>

    <%= f.submit "Send instructions", class: "primary-button" %>
  <% end %>
</div>
