<%= link_to "< Home", app_dashboard_path %><br>
<h1>Rides awaiting a driver</h1>
<% unless @rides.present? %>
  <p>No rides available</p>
<% else %>
  <% @rides.each do |ride| %>
    <%= link_to(app_ride_path(ride)) do %>
      <div class="row ride-box">
        <div class="col-2 align-self-center ride-image p-0">
          <%= image_tag ride.requester.display_profile_picture, class: "round" %>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-10"><strong><%= "#{ride.origin} to #{ride.destination}" %></strong></div>
            <div class="col-2 ride-select-arrow">></div>
          </div>
          <div class="row">
            <div class="col-12 ride-desc"><%= "#{ride.requester.full_name} requested a ride for #{pluralize(ride.number_of_passengers, "passenger")} for #{ride.formatted_pickup_time}" %></div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
