<div class="row">
  <%= link_to root_path do %>
    <div class="primary-button back-button">
      Back
    </div>
  <% end %>
</div>

<div class="row justify-content-center">
  <%= image_tag(asset_path("link-rides-driving.svg"), class: "app-header-image") %>
</div>

<div class="row text-center">
  <h1>Login To LINK Rides</h1>
</div>

<% if Rails.env.staging? %>
  <div class="row text-center mx-3">
    <p>Here for a demo? Login with either international@gmail.com or driver@gmail.com with password: linkridesdemo</p>
  </div>
<% end %>

<div class="row sign-up-form login-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.email_field :email, autocomplete: "email", placeholder:"Email Address", class: "sign-up-field text-center" %>

    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "sign-up-field text-center" %>

    <%= f.submit "Log In", class: "primary-button" %>
  <% end %>

  <%= link_to new_password_path(resource_name) do %>
    <div class="secondary-button my-3">
      Forgot Your Password?
    </div>
  <% end %>
</div>

<div class="row text-center mt-3">
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "small-text" %>
</div>