<div class="row">
  <div class="col">
    <%= link_to "Back", admin_dashboard_path, class: "primary-button back-button" %>
  </div>
</div>

<div class="row text-center">
  <h1>Unverified Drivers</h1>
</div>


  <% if @unverified_drivers.any? %>
    <% @unverified_drivers.each do |driver| %>
      <%= link_to user_path(driver) do %>
        <div class="row info-box ride-box mx-3 justify-content-center align-items-center">
          <div class="col-3 ride-image p-0">
            <%= image_tag driver.display_profile_picture, size: "100", class: "round" %>
          </div>
          <div class="col">
            <div class="row">
              <h3><%= driver.full_name %></h3>
            </div>
            <div class="row">
              <p><%= driver.ministry.titleize %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="row info-box justify-content-center text-center app-info">
      <h3>There are no unverified drivers. Hooray! Now go find some more volunteers :)</h3>
      <%= image_tag(asset_path("link-rides-about.svg"), class: "app-header-image not-found-img") %>
    </div>
  <% end %>
</div>