<%= form_for @ride do |f| %>
  <%= render "devise/shared/error_messages", resource: @ride %>
  <div class="field">
    <%= f.label :origin, "Where are you now?", class: "sign-up-label" %>
    <%= f.text_field :origin, class: "login-field sign-up-field" %>
  </div>
  <div class="field">
    <%= f.label :destination, "Where do you need to go?", class: "sign-up-label" %>
    <%= f.text_field :destination, class: "login-field sign-up-field" %>
  </div>
  <div class="field" id="time-wrap">
    <%= f.label :pickup_time, "What time do you need a ride?", class: "sign-up-label" %>
    <%= f.text_field :pickup_time, class: "login-field timepicker sign-up-field", autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.label :number_of_passengers, "How many passengers?", class: "sign-up-label" %>
    <%= f.text_field :number_of_passengers, class: "login-field sign-up-field" %>
  </div>
  <div class="field">
    <%= f.label :notes, "Anything else we need to know?", class: "sign-up-label" %>
    <%= f.text_area :notes, class: "login-field sign-up-field" %>
  </div>
  <div class="actions d-flex justify-content-center">
    <%= f.submit "Submit", class: "advance-btn" %>
  </div>
<% end %>