<%= link_to "< Home", root_path %><br>
<%= link_to("Request a ride", new_ride_path) if current_user.international? %>
<h1>Your Rides</h1>
<% unless @rides.present? %>
  <p>No rides available</p>
<% else %>
  <% @rides.each do |ride| %>
    <%= link_to(ride_path(ride)) do %>
      <div class="ride-box">
          <div class="ride-label"><p><strong><%= "#{ride.origin} to #{ride.destination}" %></strong></p></div>
          <div class="ride-select-arrow"><p>></p></div>
          <div style="clear:both;"></div>
          <div class="ride-desc"><p><%= ride_message(ride) %></p></div>
      </div>
    <% end %>
  <% end %>
<% end %>