
<% if current_user.international? %>
  <%= link_to "< Your rides", rides_path %>
<% else %>
 <%= driver_back_button %>
<% end %>

<h1><%= "#{@ride.origin} to #{@ride.destination}" %></h1>
<p><%= "#{@ride.formatted_pickup_time}" %></p>

<% if current_user.driver? %>
  <p><strong>Requester:</strong> <%= "#{@ride.requester.full_name}" %></p>
  <p><strong>Phone:</strong> <%= "#{@ride.requester.phone_number}" %></p>
  <% if @ride.requester.alternate_contact_method? && @ride.requester.alternate_contact_name? %>
    <p><strong>Alt contact:</strong> <i><%= @ride.requester.alternate_contact_method %> -</i> <%= @ride.requester.alternate_contact_name %></p>
  <% end %>
<% end %>
<p><strong>Passengers:</strong> <%= "#{@ride.number_of_passengers}" %></p>
<p><strong>Notes:</strong> <%= "#{@ride.notes? ? @ride.notes : "None"}" %></p>
<% if @ride.claimed? %>
  <p><strong>Driver: </strong> <%="#{@ride.driver.full_name}" %></p>
<% end %>

<% if @ride.requester_id == current_user.id && @ride.incomplete? %>
<%= button_to "Edit ride", edit_ride_path(@ride), method: :get, class: "blue" %>
<%= button_to "Delete ride", ride_path(@ride), method: :delete, data: { confirm: "Are you sure you want to delete this ride?" }, class: "red" %>
<% end %>

<% if current_user.driver? %>
  <% if @ride.unclaimed? %>
    <%= javascript_pack_tag "rides" %>
    <%= driver_claim_button %>
    <% if current_user.vehicles.any? %>
      <div id="vehicle-select">
        <%= form_for @ride, method: :patch do |f| %>
          <%= f.hidden_field :driver_id, value: current_user.id %>
          <%= f.hidden_field :claimed, value: true %>
          <div class="field">
            <%= f.label :vehicle_id, "Which vehicle will you be driving?" %>
            <%= f.select :vehicle_id, options_from_collection_for_select(current_user.vehicles, :id, :easy_name) %>
          </div>
          <%= f.submit "Claim ride with this vehicle", class: "advance-btn" %>
        <% end %>
      </div>
    <% else %>
      <div id="vehicle-add">
        <p><em>You haven't added any vehicles yet. Click the button below to get started!</em></p>
        <%= button_to "Add a vehicle", new_user_vehicle_path(current_user), method: :get, class: "advance-btn" %>
      </div>
    <% end %>
  <% else %>
    <% if current_user == @ride.driver && @ride.incomplete? %>
      <%= button_to "Complete ride", ride_path(@ride, ride: { id: @ride.id, completed: true }), method: :patch, class: "green", data: { confirm: "Are you sure you want to complete this ride?" } %>
      <%= button_to "Unclaim ride", ride_path(@ride, ride: { id: @ride.id, claimed: false, driver_id: nil, vehicle_id: nil }), class: "red", method: :patch %>

    <% end %>
  <% end %>

  <% if @ride.completed %>
    <p><em>This ride has been completed</em></p>
  <% end %>
<% end %>
