<% if current_user.international? %>
  <%= link_to "< Your rides", rides_path %>
<% else %>
 <%= link_to "< Pending rides", pending_rides_path %>
<% end %>

<h1><%= "#{@ride.origin} to #{@ride.destination}" %></h1>
<h2><%= "#{@ride.pickup_time}" %></h2>

<% if @ride.requester_id == current_user.id %>
  <%= link_to "Edit ride", edit_ride_path(@ride) %>
  <%= link_to "Delete ride", ride_path(@ride), method: :delete, data: { confirm: "Are you sure you want to delete this ride?" }%>
<% end %>

<% if current_user.driver? %>
  <% if @ride.unclaimed? %>
    <%= link_to "Claim ride", ride_path(@ride, ride: { id: @ride.id, claimed: true, driver_id: current_user.id }), method: :patch %>
  <% else %>
    <%= link_to "Unclaim ride", ride_path(@ride, ride: { id: @ride.id, claimed: false, driver_id: nil }), method: :patch %>
  <% end %>
<% end %>