<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <title>LINK Rides</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.typekit.net/dxy1jiy.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'nav', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div>
          <a class="navbar-brand" href=<%= "#{root_path}" %>>
            <%= image_tag(asset_path("link-logo-black.svg"), class: "brand-logo") %>
          </a>
        </div>
        <button class="navbar-toggler"
                type="button"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
                id="navbar-toggle-button"
        >
          <%= fa_icon "bars" %>
        </button>
        <div class="text-end nav-links collapse navbar-collapse navbar-nav justify-content-end" id="navbar-toggle-menu">
          <%= link_to "About", "#about", class: "nav-link" %>
          <%= link_to "International Students", "#international-students", class: "nav-link" %>
          <%= link_to "Drivers", "#drivers", class: "nav-link" %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <%= link_to(new_user_registration_path, class: "nav-link") do %>
            <div class="primary-button">Sign Up For Free</div>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <% if notice %>
          <div class="alert alert-success text-center" role="alert">
            <%= notice %>
          </div>
        <% elsif alert %>
          <div class="alert alert-danger text-center" role="alert">
            <%= alert %>
          </div>
        <% end %>
      </div>
    </div>

    <%= yield %>

    <%= render "pages/footer" %>

  </body>
</html>
